/* Banner Style */
.main-banner .container-fluid {
    padding: 0px 10px;
    margin-bottom: -24px;
}
.owl-carousel {
    padding-top: 110px;
    margin-bottom: 50px;
}

.owl-carousel .item {
    position: relative;
}

.owl-carousel .item .item-content {
    position: absolute;
    bottom: 40px;
    left: 40px;
    padding: 30px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.712);
}

.owl-carousel .item .item-content .meta-category span {
    color: #f48840;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.25px;
}

.owl-carousel .item .item-content h4 {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 0.5px;

    margin: 10px 0px 12px 0px;
}

.owl-carousel .item .item-content ul li {
    display: inline-block;
    margin-right: 8px;
}

.owl-carousel .item .item-content ul li:after {
    content: "|";
    color: #fff;
    margin-left: 8px;
}

.owl-carousel .item .item-content ul li:last-child::after {
    display: none;
}

.owl-carousel .item .item-content ul li a {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s;
}

.owl-carousel .item .item-content ul li a:hover {
    color: #f48840;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 40px;
}

.owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: 40px;
}

.owl-carousel .owl-nav button {
    outline: none;
}

.owl-carousel .owl-nav button span {
    color: #fff;
    font-size: 36px;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    background-color: rgba(250, 250, 250, 0.3);
}

.owl-dots {
    display: none;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    object-fit: cover;
    min-height: 550px;
}
